body {
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
}

.top-section {
  background-color: #e5f3f2;
 }

.title {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
  letter-spacing: 1px;
}

.title-idea {
  color: #00a79d;
}

.title-box {
  color: #6d6b71;
}

.form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 465px;
  padding-bottom: 10px;
}

.text-input {
  height: 30px;
}

.body-field {
  outline: none;
  resize: none;
  border: solid 1px #D0D2D3;
  padding-top: 5px;
  height: 25px;
}

.form-item {
  margin: 5px;
  padding-left: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D0D2D3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #D0D2D3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #D0D2D3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #D0D2D3;
}

input:focus {
  outline: 0;
  filter: opacity(80%);
}

button:focus {
  outline: 0;
  filter: opacity(80%);
}

.save-button, .show-all-button {
  background-color: #00a79d;
  color: #ffffff;
  border: none;
  height: 35px;
}

button:hover {
  background-color: #045e55;
  color: #ffffff;
}

.save-button:disabled {
  background-color: #D0D2D3;
}

.show-all-button {
  width: 450px;
}

.tag-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-sort-tags {
  display: flex;
  width: 450px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fa-sort-desc {
  color: #00a79d;
  vertical-align: center;
}


.fa-sort-desc:hover {
  color: #045e55;
}

.search-bar {
  margin: 20px auto;
  width: 300px;
}

.card {
  border-bottom: solid 2px #d1d3d4;
  /*display: flex;
  flex-direction: column;*/
  width:450px;
  margin: 0 auto;
  padding: 8px 0;
}

.card-title {
  color: #6d6e71;
  display: inline-block;
  margin: 0;
}

.card-button {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.delete {
  background-image: url("images/delete.svg");
  display: inline-block;
  float: right;
}

.delete:hover {
  background-image: url("images/delete-hover.svg");
}

.card-body {
  color: #939598;
}

.upvote {
  background-image: url("images/upvote.svg");
  display: inline-block;
  margin-right: 15px;
}

.upvote:hover {
  background-image: url("images/upvote-hover.svg");
}

.downvote {
  background-image: url("images/downvote.svg");
  display: inline-block;
  margin-right: 15px;
}

.downvote:hover {
  background-image: url("images/downvote-hover.svg");
}

.card-quality {
  color: #6d6e71;
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  padding-bottom: 5px;
}

.error-msg {
  opacity: 0;
  font-size: 14px;
  width: 90%;
  /*color: white;*/
  /*text-shadow: black -1px 1px .5px;*/
  text-align: center;
  padding: 5px 0;
  margin: 0 auto;
  /*background-color: #ff1744;*/
  border-radius: 5px;
}

.card-tags, .tag-bar {
  width: 450px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  color: #939598
}

.card-tags, .tag-bar li {
  margin-right: 10px;
}

.tag-bar li:hover {
  cursor: pointer;
  filter: opacity(90%);
}

@media screen and (max-width: 500px){
  body {
    display: block;
  }

  .show-all-button,
  .tag-bar,
  {
    width: 90%;
  }

  .search-sort-tags,
  .form-section {
    width: 95%;
  }

  .body-field {
    height: 60px;
  }

  .search-bar,
  .card,
  .card-tags {
    width: 85%;
  }

  .search-bar {
    margin: 15px 0;
  }
}
